# Projeto de Séries Temporais

### João Honorato, Maria Raquel

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

Pegando dados mensais de precipitação de chuva em João Pessoa, extraídos do site da AESA, do período de 2013 a 2023

In [17]:
chuvas = pd.read_csv('Meteorologia – Chuvas – Gráfico – AESA.csv')
chuvas.head()

     Município  Posto Data do registro Precipitação (mm)
0  João Pessoa  Mares       31/10/2013             26,50
1  João Pessoa  Mares       31/01/2014             28,20
2  João Pessoa  Mares       30/06/2014             53,80
3  João Pessoa  Mares       30/06/2013             98,40
4  João Pessoa  Mares       31/05/2014             56,60

In [18]:
## Os dados de chuva de João Pessoa são coletados em quatro diferentes postos pluviométricos
chuvas['Posto'].value_counts()

CEDRES        120
DFAARA        119
Mangabeira    119
Mares         118
Name: Posto, dtype: int64

In [19]:
## Vamos manter apenas as informações de chuva do posto com maior quantidade de dados: CEDRES
chuvas = chuvas[chuvas['Posto'] == 'CEDRES']

In [20]:
## Vamos remover as colunas que não serão utilizadas
chuvas.drop(columns = ['Posto', 'Município'], inplace = True)
chuvas.head()

    Data do registro Precipitação (mm)
356       31/10/2013                13
357       31/01/2014             47,80
358       30/06/2014             90,80
359       30/06/2013             82,60
360       31/05/2014             55,60

In [21]:
## Substituindo as vírgulas por pontos e convertendo para float
chuvas['Precipitação (mm)'] = chuvas['Precipitação (mm)'].str.replace(',', '.').astype(float)

In [22]:
## Transformando a coluna 'Data' em datetime
chuvas['Data do registro'] = pd.to_datetime(chuvas['Data do registro'], format = '%d/%m/%Y')

## Removendo o dia, mantendo apenas mês e ano
chuvas['Data do registro'] = chuvas['Data do registro'].dt.strftime('%m/%Y')

## Ordenando as datas
chuvas.sort_values(by = 'Data do registro', inplace = True)

    Data do registro  Precipitação (mm)
356          10/2013               13.0
357          01/2014               47.8
358          06/2014               90.8
359          06/2013               82.6
360          05/2014               55.6

In [29]:
chuvas.describe()

       Precipitação (mm)
count         120.000000
mean           41.148333
std            35.140317
min             0.200000
25%            13.000000
50%            33.000000
75%            51.375000
max           155.300000