# **TRATAMENTO DOS DADOS: PROJETO CHUVA**

INFORMAÇÕES DO DATASET 

http://www.hidrologia.daee.sp.gov.br/

http://www.daee.sp.gov.br/site/

PREFIXO: 	E3-262

NOME DO POSTO: 	GUARAU

MUNICÍPIO: 	SAO PAULO	

CURSO D'ÁGUA: 	CABUCU DE BAIXO,R/(ITAGUACU,COR)

LATITUDE: 	23°26'33"

LONGITUDE: 	46°39'01"

DADOS DE 1985 A 2021

In [ ]:
import numpy as np
import pandas as pd

## **Análise e Tratamento Inicial**

In [ ]:
chuva = pd.read_csv('/content/drive/MyDrive/Cursos_Udemy/series_temporais_PYTHON/E3-262_Chuva_Mensal.csv',
                    sep=';')

In [ ]:
chuva.head()

In [ ]:
chuva.shape

In [ ]:
# Análise dos tipos de atributos.
# object: strings
# int64: inteiros
# float64: reais
# complex: complexos
chuva.dtypes

In [ ]:
# Substituir as vírgulas por pontos
chuva = chuva.apply(lambda x: x.str.replace(',','.'))
chuva.head()
# Função lambda é chamada de função anônima (simplifica a escrita da função)

In [ ]:
chuva.dtypes

In [ ]:
print(chuva)

In [ ]:
# Transformar variáveis categóricas em numéricas e substituir os traços pela média
chuva['Janeiro'] =  pd.to_numeric(chuva['Janeiro'].str.replace('---', '305.79'))
print(chuva)

In [ ]:
chuva.dtypes

In [ ]:
#Transformar variáveis categóricas em numéricas e substituir os traços pela média
chuva['Fevereiro'] =  pd.to_numeric(chuva['Fevereiro'].str.replace('---', '249.3'))
chuva['Março'] =  pd.to_numeric(chuva['Março'].str.replace('---', '227.97'))
chuva['Abril'] =  pd.to_numeric(chuva['Abril'].str.replace('---', '93.64'))
chuva['Maio'] =  pd.to_numeric(chuva['Maio'].str.replace('---', '86.67'))
chuva['Junho'] =  pd.to_numeric(chuva['Junho'].str.replace('---', '59.66'))
chuva['Julho'] =  pd.to_numeric(chuva['Julho'].str.replace('---', '54.6'))
chuva['Agosto'] =  pd.to_numeric(chuva['Agosto'].str.replace('---', '27.85'))
chuva['Setembro'] =  pd.to_numeric(chuva['Setembro'].str.replace('---', '83.8'))
chuva['Outubro'] =  pd.to_numeric(chuva['Outubro'].str.replace('---', '139.89'))
chuva['Novembro'] =  pd.to_numeric(chuva['Novembro'].str.replace('---', '145.04'))
chuva['Dezembro'] =  pd.to_numeric(chuva['Dezembro'].str.replace('---', '236.04'))
print(chuva)

In [ ]:
chuva.dtypes

In [ ]:
# Excluir as duas últimas linhas
chuva2 = chuva.drop([36,37])
print(chuva2)

In [ ]:
chuva2.to_csv('chuva_tratado.csv', index = False)